# Python virtual environments
sbenv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js modules (for both frontend and backend)
node_modules/

# Logs, runtime, and system files
.DS_Store
.env
*.log

# Credentials and secrets
users.json
credentials.yml

# Cache or generated folders (optional, to keep it clean)
cache/
sbenv/
