.topbar {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem; /* צמצום רווח מלמעלה */
  background-color: transparent; /* רקע שקוף */
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); /* ✅ קו דק ונעים */
  box-shadow: none;
  height: auto;
  margin: 0;
  box-sizing: border-box;
}


.topbar-icon {
  font-size: 1.8rem; /* ✅ אייקון גדול יותר */
  color: var(--color-main);
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.2s ease, color 0.2s ease;
}

.topbar-icon:hover {
  background-color: #e0f2f1;
  color: var(--color-accent);
}
